<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>loveCalculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card  *ngFor="let item of user let i = index">
    <ion-list class="custom">
      <ion-item>
        <div class="aligndiv">
        <div class="subdiv">
          {{item.Fname}}
        </div>
        <div class="subdiv1"> {{item.Total}} %</div>
        <div class="subdiv"> {{item.Sname}}</div>
        <div class="subdiv2" (click)="delete(item.key)">
          <ion-icon name="trash"></ion-icon>
        </div>
        </div>
        <div class="subdiv3" text-wrap>{{item.from}}</div>

      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
