<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>buysell</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" *ngIf="user">
  <ion-card class="ioncart" *ngFor="let data of user">
    <ion-row>
      <ion-col>
        name
      </ion-col>
      <ion-col>
        {{data.yourname}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        city
      </ion-col>
      <ion-col>
        {{data.yourcity}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        distcrict
      </ion-col>
      <ion-col>
        {{data.yourdistrict}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        number
      </ion-col>
      <ion-col>
        {{data.yournumber}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="rate">
        grain
      </ion-col>
      <ion-col class="ratee">
        {{data.grain}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="grain">
        rate
      </ion-col>
      <ion-col class="grainn">
        {{data.rate}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        date
      </ion-col>
      <ion-col >
        {{data.rate}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        date
      </ion-col>
      <ion-col >
        {{data.time | date: 'yyyy-MM-dd hh:mm:ss' }}
      </ion-col>
    </ion-row>
    <ion-row> 
    <ion-col class="delbtn">
      <ion-button color="danger" (click)="delete(data.key)">delete this grain</ion-button>
    </ion-col></ion-row>

  </ion-card>
</ion-content>